:root {
    --color-blue-1: #559bd9;
    --color-blue-2: #5faad9;
    --color-blue-3: #94cef2;
    --color-blue-4: #d5e7f2;
    --color-blue-5: #a2dcf2;
}

/* text color */
.color-text-blue-1 {
    color: var(--color-blue-1);
}

.color-text-blue-2 {
    color: var(--color-blue-2);
}

.color-text-blue-3 {
    color: var(--color-blue-3);
}

.color-text-blue-4 {
    color: var(--color-blue-4);
}

.color-text-blue-5 {
    color: var(--color-blue-5);
}

/* background color */
.color-bg-blue-1 {
    background-color: var(--color-blue-1);
}

.color-bg-blue-2 {
    background-color: var(--color-blue-2);
}

.color-bg-blue-3 {
    background-color: var(--color-blue-3);
}

.color-bg-blue-4 {
    background-color: var(--color-blue-4);
}

.color-bg-blue-5 {
    background-color: var(--color-blue-5);
}

/* border color */
.color-border-blue-1 {
    border-color: var(--color-blue-1);
}

.color-border-blue-2 {
    border-color: var(--color-blue-2);
}

.color-border-blue-3 {
    border-color: var(--color-blue-3);
}

.color-border-blue-4 {
    border-color: var(--color-blue-4);
}

.color-border-blue-5 {
    border-color: var(--color-blue-5);
}

/* font weight 여부 */
.weight-text-regular {
    font-family: "Freesentation-4Regular";
}

.weight-text-medium {
    font-family: "Freesentation-5Medium";
}

.weight-text-semibold {
    font-family: "Freesentation-6SemiBold";
}

/* text viewwidth */

.text-12vw {
    font-size: min(12vw, 57.6px);
}

.text-11vw {
    font-size: min(10vw, 52.8px);
}

.text-10vw {
    font-size: min(10vw, 48px);
}

.text-9vw {
    font-size: min(7vw, 43.2px);
}

.text-8vw {
    font-size: min(7vw, 38.4px);
}

.text-7vw {
    font-size: min(7vw, 33.6px);
}

.text-6vw {
    font-size: min(6vw, 28.8px);
}

.text-5vw {
    font-size: min(5vw, 24px);
}

.text-4vw {
    font-size: min(4vw, 19.2px);
}

.text-3vw {
    font-size: min(3vw, 14.4px);
}

.text-2vw {
    font-size: min(2vw, 9.6px);
}

.text-1vw {
    font-size: min(1vw, 4.8px);
}

/* padding viewwidth */

.py-4vw {
    padding-top: min(4vw, 19.2px);
    padding-bottom: min(4vw, 19.2px);
}

.py-2vw {
    padding-top: min(2vw, 9.6px);
    padding-bottom: min(2vw, 9.6px);
}

.py-vw {
    padding-top: min(1vw, 4.8px);
    padding-bottom: min(1vw, 4.8px);
}

.px-5vw {
    padding-left: min(5vw, 24px);
    padding-right: min(5vw, 24px);
}

.px-2vw {
    padding-left: min(2vw, 9.6px);
    padding-right: min(2vw, 9.6px);
}

.px-vw {
    padding-left: min(1vw, 4.8px);
    padding-right: min(1vw, 4.8px);
}

.px-dot5vw {
    padding-left: min(0.5vw, 2.4px);
    padding-right: min(0.5vw, 2.4px);
}

.p-2vw {
    padding: min(2vw, 9.6px);
}

.p-vw {
    padding: min(1vw, 4.8px);
}

.pt-3vw {
    padding-top: min(3vw, 14.4px);
}

/* rounded viewwidth */

/* marigin viewwidth */
.m-vw {
    margin: min(1vw, 4.8px);
}

.m-2vw {
    margin: min(2vw, 9.6px);
}

.mt-3vw {
    margin-top: min(3vw, 14.4px);
}

.mt-2vw {
    margin-top: min(2vw, 9.6px);
}

.mt-vw {
    margin-top: min(1vw, 4.8px);
}

.mx-vw {
    margin-left: min(1vw, 4.8px);
    margin-right: min(1vw, 4.8px);
}

.my-vw {
    margin-top: min(1vw, 4.8px);
    margin-bottom: min(1vw, 4.8px);
}

.mx-dot5vw {
    margin-left: min(0.5vw, 2.4px);
    margin-right: min(0.5vw, 2.4px);
}

.my-dot5vw {
    margin-top: min(0.5vw, 2.4px);
    margin-bottom: min(0.5vw, 2.4px);
}

.mr-vw {
    margin-right: min(1vw, 4.8px);
}

.mr-dot5vw {
    margin-right: min(0.5vw, 2.4px);
}

.mb-2vw {
    margin-bottom: min(2vw, 9.6px);
}

.mb-vw {
    margin-bottom: min(1vw, 4.8px);
}

/* hight viewwidth */
.h-75vw {
    height: min(75vw, 360px);
}

.h-35vw {
    height: min(35vw, 168px);
}

.h-17vw {
    height: min(17vw, 81.6px);
}

.h-15vw {
    height: min(15vw, 72px);
}

.h-12vw {
    height: min(12vw, 57.6px);
}

.h-10vw {
    height: min(10vw, 48px);
}

.h-7vw {
    height: min(7vw, 33.6px);
}

.h-6vw {
    height: min(6vw, 28.8px);
}

.h-vw {
    height: min(1vw, 4.8px);
}

.h-dot5vw {
    height: min(0.5vw, 2.4px);
}

/* border viewwidth */
.border-halfvw {
    border-width: min(0.5vw, 2.4px);
}

.border-t-halfvw {
    border-top-width: min(0.5vw, 2.4px);
}

.border-dot3vw {
    border-width: min(0.3vw, 1.44px);
}

.border-x-dot3vw {
    border-left-width: min(0.3vw, 1.44px);
    border-right-width: min(0.3vw, 1.44px);
}

.border-t-dot3vw {
    border-top-width: min(0.3vw, 1.44px);
}

.border-b-dot3vw {
    border-bottom-width: min(0.3vw, 1.44px);
}

.border-y-dot5vw {
    border-top-width: min(0.5vw, 2.4px);
    border-bottom-width: min(0.5vw, 2.4px);
}

.border-b-dot5vw {
    border-bottom-width: min(0.5vw, 2.4px);
}

.border-rad-dot5vw {
    border-radius: min(0.5vw, 2.4px);
}

.border-rad-2vw {
    border-radius: min(2vw, 9.6px);
}

.border-rad-3vw {
    border-radius: min(3vw, 14.4px);
}

.border-rad-4vw {
    border-radius: min(4vw, 19.2px);
}

.border-rad-5vw {
    border-radius: min(5vw, 24px);
}

/* width viewwidth */
.w-dot5vw {
    width: min(0.5vw, 2.4px);
}

/* top viewwidth */
.top-2vw {
    top: min(2vw, 9.6px);
}

.check {
    width: min(80%, 384px);
    left: max(10%, calc(50vw - 192px));
}
